<div class="btn-media-add-category" data-url="{{url('btn_media_mediacontrol_category_add')}}">
    <button class="btn btn-primary add">Add new category</button>
    <div class="hidden form-inline">
        <span class="form-group">
          <input class="form-control" type="text" name="new-category" placeholder="New category name" value="">
          <button href="#" class="btn btn-success new">&#10004;</button>
        </span>
    </div>
</div>
