<div class="btn-media-add-category" data-url="{{url('cp_media_category_add')}}">
    <button class="btn btn-primary add">Add new category</button>
    <span class="hidden">
        <span class="inline input-group-btn">
          <input style="margin-bottom:0;" type="text" name="new-category" placeholder="New category name" value="">
          <button href="#" class="btn btn-success new">&#10004;</button>
        </span>
    </span>
</div>
