{% block mediaFileUploadBtn %}
    <div class="bitnoise-media-uploader"
       data-category-id="{{ category is defined and category is not null ? category.id : 0 }}"
       data-multiple="true"
       data-href="{{ path('cp_media_upload') }}"
    ></div>
{% endblock %}
