{% extends 'BtnAdminBundle::base.html.twig' %}

{% do btn_load_assets(['btn_media_modal_css', 'btn_admin_loading', 'btn_admin_jstree', 'btn_media_cke']) %}

{% block body %}
    <div class="btn-media-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'btn_media.media.choose'|trans }}</h4>
            </div>
            {% include 'BtnMediaBundle:MediaModal:_body.html.twig' %}
        </div>
    </div>
{% endblock %}
