{% btn_asset 'btn_admin_base_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
{% endbtn_asset %}

{% block cke %}
<div class="btn-media-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ 'btn_media.media.choose'|trans }}</h4>
        </div>
        {% include 'BtnMediaBundle:MediaModal:_body.html.twig' %}
    </div>
</div>
{% endblock %}

{% btn_asset 'btn_admin_jquery_js' %}
    <script src="{{ asset_url }}"></script>
{% endbtn_asset %}

{% include 'BtnMediaBundle:MediaModal:_partials.html.twig' %}

{% btn_asset 'btn_media_cke_js' %}
        <script src="{{ asset_url }}"></script>
{% endbtn_asset %}
