/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Basics
 * ============================================================================ */
/* line 4, ../sass/_base.scss */
body {
  background: url(../images/bg.jpg);
  background-size: cover;
  font-family: "seravekregular", Arial, serif;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

/* line 12, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 15, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 19, ../sass/_base.scss */
h2 {
  height: 32px;
  line-height: 32px;
  font-family: 'seravekmedium';
  background: url(../images/dt_bg.png) 0 0 no-repeat;
  padding: 0 9px;
  text-shadow: 1px 1px 7px black;
}

/* line 29, ../sass/_base.scss */
.full-content h1 {
  height: 40px;
  line-height: 40px;
  font-family: 'seravekmedium';
  background: url(../images/h1_bg.png) 0 0 no-repeat;
  padding: 0 9px;
}
/* line 35, ../sass/_base.scss */
.full-content h1 i {
  margin-top: -9px;
  margin-left: -10px;
}
/* line 40, ../sass/_base.scss */
.full-content h2 {
  background: url(../images/h2_bg.png) 0 0 no-repeat;
}
/* line 42, ../sass/_base.scss */
.full-content h2 i {
  margin-top: -9px;
  margin-left: -10px;
}

/*
 * Table
 * ============================================================================ */
/* line 52, ../sass/_base.scss */
table.basic {
  width: 100%;
  font-size: 14px;
  margin: 20px 0 0;
}
/* line 57, ../sass/_base.scss */
table.basic.big tbody {
  font-size: 18px;
}
/* line 62, ../sass/_base.scss */
table.basic tbody tr {
  border-top: solid 1px #263759;
  border-bottom: solid 1px #263759;
}
/* line 65, ../sass/_base.scss */
table.basic tbody tr:first-child {
  border-top: none;
}
/* line 71, ../sass/_base.scss */
table.basic tbody th {
  color: #58a9b7;
}
/* line 75, ../sass/_base.scss */
table.basic tbody th,
table.basic tbody td {
  background: rgba(0, 0, 0, 0.2);
  padding: 14px;
}
/* line 78, ../sass/_base.scss */
table.basic tbody th.title,
table.basic tbody td.title {
  width: 450px;
  color: #fff;
  font-size: 18px;
}
/* line 82, ../sass/_base.scss */
table.basic tbody th.title time,
table.basic tbody td.title time {
  color: #708cbb;
}
/* line 86, ../sass/_base.scss */
table.basic tbody th.title .flag,
table.basic tbody td.title .flag {
  margin: 0 5px 0 -1px;
}
/* line 90, ../sass/_base.scss */
table.basic tbody th a,
table.basic tbody td a {
  color: #55a5be;
}
/* line 93, ../sass/_base.scss */
table.basic tbody th.highlight,
table.basic tbody td.highlight {
  background: rgba(38, 127, 162, 0.1);
}
/* line 96, ../sass/_base.scss */
table.basic tbody th i,
table.basic tbody td i {
  margin: -2px 3px 0 0;
}
/* line 104, ../sass/_base.scss */
table.basic.results tbody td {
  padding: 12px;
}
/* line 111, ../sass/_base.scss */
table.basic tr.players p {
  float: left;
  width: 48%;
  color: #b9d2ff;
}
/* line 115, ../sass/_base.scss */
table.basic tr.players p span {
  color: #fff;
  font-family: 'seravekmedium';
}

/* line 4, ../sass/_layout.scss */
header[role="banner"],
section[role="main"],
footer[role="contentinfo"] {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

/*
 * Header/sidebar
 * ============================================================================ */
/* line 13, ../sass/_layout.scss */
header[role="banner"] {
  height: 101px;
  background: url(../images/header.png) top left no-repeat;
}

/*
 * Content - top, content, tiles etc.
 * ============================================================================ */
/* line 21, ../sass/_layout.scss */
section[role="main"] {
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 2px 5px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 2px 5px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 20px;
}
/* line 27, ../sass/_layout.scss */
section[role="main"] header.top {
  height: 70px;
  border-bottom: solid 1px #2f5a7c;
  margin-bottom: 20px;
}
/* line 33, ../sass/_layout.scss */
section[role="main"] section.content {
  width: 660px;
  float: left;
  margin-left: 20px;
}
/* line 39, ../sass/_layout.scss */
section[role="main"] aside {
  width: 280px;
  float: right;
  margin-right: 20px;
}
/* line 45, ../sass/_layout.scss */
section[role="main"] section.full-content {
  margin: 20px;
}

/*
 * Footer
 * ============================================================================ */
/* line 53, ../sass/_layout.scss */
footer[role="contentinfo"] {
  padding: 20px 0;
  text-align: center;
  color: #96a8ff;
  font-size: 14px;
  text-shadow: 1px 1px 7px black;
}
/* line 59, ../sass/_layout.scss */
footer[role="contentinfo"] strong {
  color: #3bc7e3;
}

/* line 2, ../sass/_components.scss */
header[role="banner"] #back-to-homepage {
  text-indent: -9999px;
  display: block;
  width: 250px;
  height: 101px;
  position: absolute;
  top: 0;
  left: 10px;
}
/* line 12, ../sass/_components.scss */
header[role="banner"] #brand-logo {
  position: absolute;
  top: 0;
  right: 15px;
}
/* line 17, ../sass/_components.scss */
header[role="banner"] p#brand-logo {
  position: absolute;
  top: 38px;
  left: 760px;
  font-size: 24px;
  text-shadow: 1px 1px 7px black;
}
/* line 25, ../sass/_components.scss */
header[role="banner"] a.logout {
  display: block;
  width: 119px;
  height: 59px;
  background: url(../images/logout.png);
  text-indent: -9999px;
  position: absolute;
  top: 20px;
  left: 260px;
}

/* line 38, ../sass/_components.scss */
section[role="main"] nav {
  padding: 0 23px;
  line-height: 70px;
}
/* line 41, ../sass/_components.scss */
section[role="main"] nav li {
  display: inline-block;
  margin: 0 20px 0 0;
}
/* line 46, ../sass/_components.scss */
section[role="main"] nav li:hover, section[role="main"] nav li.active {
  background: url(../images/menu_marker.png) 12px bottom no-repeat;
}
/* line 48, ../sass/_components.scss */
section[role="main"] nav li:hover a, section[role="main"] nav li.active a {
  color: #fcfcfc;
}
/* line 50, ../sass/_components.scss */
section[role="main"] nav li:hover a .icon-chart, section[role="main"] nav li.active a .icon-chart {
  background-position: 0 -40px;
}
/* line 53, ../sass/_components.scss */
section[role="main"] nav li:hover a .icon-cal, section[role="main"] nav li.active a .icon-cal {
  background-position: -40px -40px;
}
/* line 56, ../sass/_components.scss */
section[role="main"] nav li:hover a .icon-camera, section[role="main"] nav li.active a .icon-camera {
  background-position: -80px -40px;
}
/* line 59, ../sass/_components.scss */
section[role="main"] nav li:hover a .icon-file, section[role="main"] nav li.active a .icon-file {
  background-position: -120px -40px;
}
/* line 64, ../sass/_components.scss */
section[role="main"] nav li a {
  color: #58a9b7;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
}
/* line 70, ../sass/_components.scss */
section[role="main"] nav li a i {
  margin: -13px 5px 0 0;
}

/*
 * Sidebar
 * ============================================================================ */
/* line 82, ../sass/_components.scss */
aside h4 {
  background: url(../images/sidebar_headers.png) 0 0 no-repeat;
  width: 280px;
  height: 42px;
  text-indent: -9999px;
}
/* line 88, ../sass/_components.scss */
aside section {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0 20px;
  padding: 0 0 10px;
}
/* line 93, ../sass/_components.scss */
aside section dt {
  font-family: 'seravekregular';
  line-height: 32px;
  height: 32px;
  width: 280px;
  background: url(../images/sidebar_dt.png) 0 0 no-repeat;
  color: #fff;
  text-align: center;
  clear: both;
  position: relative;
}
/* line 104, ../sass/_components.scss */
aside section dd {
  padding: 20px 14px;
}
/* line 106, ../sass/_components.scss */
aside section dd.fill {
  background: rgba(112, 140, 187, 0.15) url(../images/dd_gradient.png) 0 0 no-repeat;
  border-bottom: solid 1px #486084;
}
/* line 110, ../sass/_components.scss */
aside section dd.fill:last-child {
  border-bottom: none;
}
/* line 113, ../sass/_components.scss */
aside section dd.fill p {
  font-family: 'seraveklight';
  font-size: 14px;
}
/* line 123, ../sass/_components.scss */
aside section dd dl dt {
  float: left;
  width: auto;
  height: auto;
  line-height: 100%;
  background: none;
  color: #55a5be;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
}
/* line 135, ../sass/_components.scss */
aside section dd dl dd {
  line-height: 100%;
  float: right;
  padding: 0;
}
/* line 148, ../sass/_components.scss */
aside section.twitter h4 {
  background-position: 0 -42px;
}
/* line 154, ../sass/_components.scss */
aside section.youtube h4 {
  background-position: 0 -84px;
}

/*
 * Buttons
 * ============================================================================ */
/* line 163, ../sass/_components.scss */
.btn {
  text-align: center;
  text-decoration: none;
  color: #3e7c92;
  font-family: 'seravekmedium';
  text-transform: uppercase;
  line-height: 30px;
  text-shadow: 0px 0px 5px black;
}
/* line 171, ../sass/_components.scss */
.btn.load-more {
  display: block;
  height: 30px;
  width: 660px;
  background: url(../images/btn_loadmore.png) 0 0 no-repeat;
}
/* line 177, ../sass/_components.scss */
.btn.load-more-full {
  display: block;
  height: 30px;
  width: 960px;
  background: url(../images/btn_loadmore_full.png) 0 0 no-repeat;
  margin-top: 25px;
}

/* line 187, ../sass/_components.scss */
aside .btn {
  color: #5a76a5;
  display: block;
  margin: 10px auto 0;
  background: url(../images/btn_aside.png) 0 0 no-repeat;
  width: 260px;
  height: 30px;
  text-indent: -9999px;
}
/* line 198, ../sass/_components.scss */
aside .icon-arrow-down,
aside .icon-arrow-up {
  position: absolute;
  right: 10px;
  top: 13px;
}

/*
 * Icons
 * ============================================================================ */
/* line 209, ../sass/_components.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 40px;
  vertical-align: text-top;
  background-image: url("../images/icons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

/* line 222, ../sass/_components.scss */
.icon-cal {
  background-position: -40px 0;
}

/* line 225, ../sass/_components.scss */
.icon-camera {
  background-position: -80px 0;
}

/* line 228, ../sass/_components.scss */
.icon-file {
  background-position: -120px 0;
}

/* line 232, ../sass/_components.scss */
.icon-arrow-down,
.icon-arrow-up {
  background-image: url("../images/ico_arrows.png");
  height: 6px;
  width: 12px;
}
/* line 236, ../sass/_components.scss */
.icon-arrow-down.icon-arrow-down,
.icon-arrow-up.icon-arrow-down {
  background-position: 0 -6px;
}

/* line 242, ../sass/_components.scss */
.icon-yes,
.icon-no,
.icon-cup {
  background: url("../images/icons_small.png") 0 0;
  width: 20px;
  height: 20px;
}
/* line 246, ../sass/_components.scss */
.icon-yes.icon-no,
.icon-no.icon-no,
.icon-cup.icon-no {
  background-position: 0 -20px;
}
/* line 249, ../sass/_components.scss */
.icon-yes.icon-yes,
.icon-no.icon-yes,
.icon-cup.icon-yes {
  background-position: 0 -40px;
}

/* line 258, ../sass/_components.scss */
.icon-metric,
.icon-clock,
.icon-player,
.icon-pad,
.icon-ladder {
  background: url("../images/analytics_icons.png") 0 0;
  width: 32px;
  height: 32px;
}
/* line 262, ../sass/_components.scss */
.icon-metric.icon-clock,
.icon-clock.icon-clock,
.icon-player.icon-clock,
.icon-pad.icon-clock,
.icon-ladder.icon-clock {
  background-position: 0 -32px;
}
/* line 265, ../sass/_components.scss */
.icon-metric.icon-player,
.icon-clock.icon-player,
.icon-player.icon-player,
.icon-pad.icon-player,
.icon-ladder.icon-player {
  background-position: 0 -64px;
}
/* line 268, ../sass/_components.scss */
.icon-metric.icon-ladder,
.icon-clock.icon-ladder,
.icon-player.icon-ladder,
.icon-pad.icon-ladder,
.icon-ladder.icon-ladder {
  background-position: 0 -96px;
}
/* line 271, ../sass/_components.scss */
.icon-metric.icon-pad,
.icon-clock.icon-pad,
.icon-player.icon-pad,
.icon-pad.icon-pad,
.icon-ladder.icon-pad {
  background-position: 0 -128px;
}

/* line 278, ../sass/_components.scss */
.icon-features,
.icon-past,
.icon-sheet {
  background: url("../images/events_icons.png") 0 0;
  width: 36px;
  height: 36px;
}
/* line 282, ../sass/_components.scss */
.icon-features.icon-past,
.icon-past.icon-past,
.icon-sheet.icon-past {
  background-position: 0 -36px;
}
/* line 285, ../sass/_components.scss */
.icon-features.icon-sheet,
.icon-past.icon-sheet,
.icon-sheet.icon-sheet {
  background-position: 0 -72px;
}

/* line 295, ../sass/_components.scss */
.icon-zoom,
.icon-photo,
.icon-video,
.icon-info,
.icon-table,
.icon-details {
  background: url("../images/event_icons_big.png") 0 0;
  width: 36px;
  height: 36px;
}
/* line 299, ../sass/_components.scss */
.icon-zoom.icon-info,
.icon-photo.icon-info,
.icon-video.icon-info,
.icon-info.icon-info,
.icon-table.icon-info,
.icon-details.icon-info {
  background-position: 0 -36px;
}
/* line 302, ../sass/_components.scss */
.icon-zoom.icon-table,
.icon-photo.icon-table,
.icon-video.icon-table,
.icon-info.icon-table,
.icon-table.icon-table,
.icon-details.icon-table {
  background-position: 0 -72px;
}
/* line 305, ../sass/_components.scss */
.icon-zoom.icon-photo,
.icon-photo.icon-photo,
.icon-video.icon-photo,
.icon-info.icon-photo,
.icon-table.icon-photo,
.icon-details.icon-photo {
  background-position: 0 -108px;
}
/* line 308, ../sass/_components.scss */
.icon-zoom.icon-video,
.icon-photo.icon-video,
.icon-video.icon-video,
.icon-info.icon-video,
.icon-table.icon-video,
.icon-details.icon-video {
  background-position: 0 -144px;
}
/* line 311, ../sass/_components.scss */
.icon-zoom.icon-zoom,
.icon-photo.icon-zoom,
.icon-video.icon-zoom,
.icon-info.icon-zoom,
.icon-table.icon-zoom,
.icon-details.icon-zoom {
  background-position: 0 -180px;
}

/* line 322, ../sass/_components.scss */
.icon-rank-first,
.icon-rank-second,
.icon-rank-third,
.icon-rank,
.icon-dates,
.icon-venue,
.icon-website {
  background: url("../images/event_icons.png") 0 0;
  width: 32px;
  height: 32px;
}
/* line 326, ../sass/_components.scss */
.icon-rank-first.icon-venue,
.icon-rank-second.icon-venue,
.icon-rank-third.icon-venue,
.icon-rank.icon-venue,
.icon-dates.icon-venue,
.icon-venue.icon-venue,
.icon-website.icon-venue {
  background-position: 0 -32px;
}
/* line 329, ../sass/_components.scss */
.icon-rank-first.icon-website,
.icon-rank-second.icon-website,
.icon-rank-third.icon-website,
.icon-rank.icon-website,
.icon-dates.icon-website,
.icon-venue.icon-website,
.icon-website.icon-website {
  background-position: 0 -64px;
}
/* line 332, ../sass/_components.scss */
.icon-rank-first.icon-rank-first,
.icon-rank-second.icon-rank-first,
.icon-rank-third.icon-rank-first,
.icon-rank.icon-rank-first,
.icon-dates.icon-rank-first,
.icon-venue.icon-rank-first,
.icon-website.icon-rank-first {
  background-position: 0 -128px;
}
/* line 335, ../sass/_components.scss */
.icon-rank-first.icon-rank-second,
.icon-rank-second.icon-rank-second,
.icon-rank-third.icon-rank-second,
.icon-rank.icon-rank-second,
.icon-dates.icon-rank-second,
.icon-venue.icon-rank-second,
.icon-website.icon-rank-second {
  background-position: 0 -160px;
}
/* line 338, ../sass/_components.scss */
.icon-rank-first.icon-rank-third,
.icon-rank-second.icon-rank-third,
.icon-rank-third.icon-rank-third,
.icon-rank.icon-rank-third,
.icon-dates.icon-rank-third,
.icon-venue.icon-rank-third,
.icon-website.icon-rank-third {
  background-position: 0 -192px;
}
/* line 341, ../sass/_components.scss */
.icon-rank-first.icon-rank,
.icon-rank-second.icon-rank,
.icon-rank-third.icon-rank,
.icon-rank.icon-rank,
.icon-dates.icon-rank,
.icon-venue.icon-rank,
.icon-website.icon-rank {
  background-position: 0 -224px;
}

/* line 351, ../sass/_components.scss */
.icon-event-gallery,
.icon-event-gallery-wait,
.icon-event-gallery-search,
.icon-event-gallery-plus,
.icon-event-gallery-minus,
.icon-event-gallery-video {
  background: url("../images/event_gallery_icons.png") 0 0;
  width: 39px;
  height: 36px;
}
/* line 356, ../sass/_components.scss */
.icon-event-gallery.icon-event-gallery,
.icon-event-gallery-wait.icon-event-gallery,
.icon-event-gallery-search.icon-event-gallery,
.icon-event-gallery-plus.icon-event-gallery,
.icon-event-gallery-minus.icon-event-gallery,
.icon-event-gallery-video.icon-event-gallery {
  background-position: 0 -5px;
}
/* line 359, ../sass/_components.scss */
.icon-event-gallery.icon-event-gallery-wait,
.icon-event-gallery-wait.icon-event-gallery-wait,
.icon-event-gallery-search.icon-event-gallery-wait,
.icon-event-gallery-plus.icon-event-gallery-wait,
.icon-event-gallery-minus.icon-event-gallery-wait,
.icon-event-gallery-video.icon-event-gallery-wait {
  background-position: 0 -45px;
}
/* line 362, ../sass/_components.scss */
.icon-event-gallery.icon-event-gallery-search,
.icon-event-gallery-wait.icon-event-gallery-search,
.icon-event-gallery-search.icon-event-gallery-search,
.icon-event-gallery-plus.icon-event-gallery-search,
.icon-event-gallery-minus.icon-event-gallery-search,
.icon-event-gallery-video.icon-event-gallery-search {
  background-position: 0 -175px;
}
/* line 365, ../sass/_components.scss */
.icon-event-gallery.icon-event-gallery-plus,
.icon-event-gallery-wait.icon-event-gallery-plus,
.icon-event-gallery-search.icon-event-gallery-plus,
.icon-event-gallery-plus.icon-event-gallery-plus,
.icon-event-gallery-minus.icon-event-gallery-plus,
.icon-event-gallery-video.icon-event-gallery-plus {
  background-position: 0 -221px;
}
/* line 368, ../sass/_components.scss */
.icon-event-gallery.icon-event-gallery-minus,
.icon-event-gallery-wait.icon-event-gallery-minus,
.icon-event-gallery-search.icon-event-gallery-minus,
.icon-event-gallery-plus.icon-event-gallery-minus,
.icon-event-gallery-minus.icon-event-gallery-minus,
.icon-event-gallery-video.icon-event-gallery-minus {
  background-position: 0 0px;
}
/* line 371, ../sass/_components.scss */
.icon-event-gallery.icon-event-gallery-video,
.icon-event-gallery-wait.icon-event-gallery-video,
.icon-event-gallery-search.icon-event-gallery-video,
.icon-event-gallery-plus.icon-event-gallery-video,
.icon-event-gallery-minus.icon-event-gallery-video,
.icon-event-gallery-video.icon-event-gallery-video {
  background-position: 0 0px;
}

/* line 377, ../sass/_components.scss */
table.big tbody th {
  width: 170px;
}
/* line 379, ../sass/_components.scss */
table.big tbody th i {
  margin-top: -5px;
}

/*
 * Tools
 * ============================================================================ */
/* line 388, ../sass/_components.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}

/* line 393, ../sass/_components.scss */
.game-marker {
  font-size: 11px;
  font-family: 'seraveklight';
  width: 24px;
  height: 14px;
  line-height: 16px;
  text-align: center;
  text-shadow: 1px 1px 7px black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
  -webkit-box-shadow: inset 0 -5px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -5px 8px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -5px 8px rgba(0, 0, 0, 0.3);
}

/*
 * Analytics
 * ============================================================================ */
/* line 7, ../sass/_analytics.scss */
ul.analytics.event-details li section {
  display: block;
}
/* line 12, ../sass/_analytics.scss */
ul.analytics li {
  margin-bottom: 15px;
}
/* line 14, ../sass/_analytics.scss */
ul.analytics li a.analytics-banner {
  display: block;
  height: 100px;
  background: #1c4665;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
/* line 17, ../sass/_analytics.scss */
ul.analytics li a.analytics-banner.open {
  background-position: 0 -100px !important;
}
/* line 29, ../sass/_analytics.scss */
ul.analytics li section {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 10px 15px;
  display: none;
}
/* line 36, ../sass/_analytics.scss */
ul.analytics li dt {
  margin-top: 20px;
}
/* line 38, ../sass/_analytics.scss */
ul.analytics li dt:first-child {
  margin-top: 0px;
}
/* line 42, ../sass/_analytics.scss */
ul.analytics li dt h2 i {
  margin-top: -7px;
  margin-right: 5px;
}
/* line 46, ../sass/_analytics.scss */
ul.analytics li dt h2 div.label {
  width: 180px;
  float: left;
}
/* line 52, ../sass/_analytics.scss */
ul.analytics li dd {
  padding: 0 9px;
  margin-top: 15px;
}
/* line 56, ../sass/_analytics.scss */
ul.analytics li dd label {
  float: left;
  width: 180px;
  color: #55a5be;
  font-family: 'seravekmedium';
  text-transform: uppercase;
}
/* line 62, ../sass/_analytics.scss */
ul.analytics li dd label i {
  margin-top: -7px;
  margin-right: 5px;
}
/* line 68, ../sass/_analytics.scss */
ul.analytics li dd section {
  display: block;
  float: right;
  width: 440px;
  padding: 0;
  position: relative;
}
/* line 74, ../sass/_analytics.scss */
ul.analytics li dd section .progressbar {
  position: absolute;
  height: 10px;
  top: 10px;
  background: #2296aa;
  background: rgba(34, 150, 170, 0.25);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 440px;
}
/* line 82, ../sass/_analytics.scss */
ul.analytics li dd section .progressbar .indicator {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  height: 10px;
  background: #2296aa url(../images/progress_green.png) 0 0;
}
/* line 89, ../sass/_analytics.scss */
ul.analytics li dd section .progressbar.orange .indicator {
  background: url(../images/progress_orange.png) 0 0;
}
/* line 94, ../sass/_analytics.scss */
ul.analytics li dd section .progressbar.blue .indicator {
  background: url(../images/progress_blue.png) 0 0;
}
/* line 99, ../sass/_analytics.scss */
ul.analytics li dd section em {
  position: absolute;
  font-family: 'seravekmedium';
  font-size: 20px;
  text-shadow: 0px 0px 10px black;
  color: #fff;
  top: 5px;
}

/* line 2, ../sass/_gallery.scss */
.gallery ul {
  float: left;
  margin: 15px 0;
}
/* line 5, ../sass/_gallery.scss */
.gallery ul li {
  display: block;
  float: left;
  margin-left: 21px;
}
/* line 9, ../sass/_gallery.scss */
.gallery ul li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  height: 158px;
  width: 304px;
  display: block;
  border: solid 1px #274d73;
}
/* line 16, ../sass/_gallery.scss */
.gallery ul li a:hover {
  border: solid 1px #2680a3;
}
/* line 20, ../sass/_gallery.scss */
.gallery ul li:first-child {
  margin-left: 0;
}

/* line 2, ../sass/_files.scss */
ul.breadcrumb li {
  display: inline;
}
/* line 4, ../sass/_files.scss */
ul.breadcrumb li.separator {
  color: #2f587c;
  padding: 0 5px;
}
/* line 8, ../sass/_files.scss */
ul.breadcrumb li a {
  color: #fff;
}
/* line 10, ../sass/_files.scss */
ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/* line 17, ../sass/_files.scss */
table.files {
  background: url(../images/thead_bg.png) 0 0 no-repeat;
}
/* line 21, ../sass/_files.scss */
table.files thead tr {
  height: 32px;
  line-height: 32px;
}
/* line 24, ../sass/_files.scss */
table.files thead tr th {
  padding: 0 14px;
}
/* line 29, ../sass/_files.scss */
table.files tr.dir {
  background: rgba(90, 112, 150, 0.2);
}
/* line 31, ../sass/_files.scss */
table.files tr.dir:hover {
  background: rgba(151, 184, 238, 0.3);
}
/* line 35, ../sass/_files.scss */
table.files tr:hover {
  background: rgba(53, 212, 239, 0.15);
  cursor: pointer;
}
/* line 41, ../sass/_files.scss */
table.files tbody td:first-child {
  font-size: 18px;
}

/* line 1, ../sass/_photos.scss */
.media {
  width: 980px;
  margin-left: 0px;
}
/* line 4, ../sass/_photos.scss */
.media .item {
  margin-bottom: 15px;
  position: relative;
}
/* line 7, ../sass/_photos.scss */
.media .item a {
  overflow: hidden;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 128, 0, 0.5) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 128, 0, 0.5) 0 0 3px 1px inset;
  box-shadow: rgba(0, 128, 0, 0.5) 0 0 3px 1px inset;
}
/* line 17, ../sass/_photos.scss */
.media .item a img {
  display: block;
}
/* line 22, ../sass/_photos.scss */
.media .item a::before {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #2e334d;
  border-right: solid 1px #2e334d;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 10px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 10px inset;
}
/* line 35, ../sass/_photos.scss */
.media .item a .description {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7) url(../images/ico_marker.png) 5px 6px no-repeat;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 52px;
  color: #fff;
}
/* line 44, ../sass/_photos.scss */
.media .item a .description p {
  padding: 10px 0 0 40px;
}
/* line 46, ../sass/_photos.scss */
.media .item a .description p span {
  display: block;
  font-size: 12px;
  color: #43bedd;
  margin-top: -5px;
}
/* line 47, ../sass/_photos.scss */
.media .item a .description p span img {
  float: left;
  margin: 4px 5px 0 0;
}
/* line 58, ../sass/_photos.scss */
.media .item a .counter {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/album.png) 0 0 no-repeat;
  width: 45px;
  height: 50px;
  color: #fff;
  text-align: right;
  padding-right: 35px;
  font-size: 20px;
  text-shadow: 0px 0px 10px black;
  line-height: 38px;
  font-family: 'seravekmedium';
}
/* line 75, ../sass/_photos.scss */
.media .col1 {
  width: 225px;
}
/* line 78, ../sass/_photos.scss */
.media .col2 {
  width: 470px;
}
/* line 81, ../sass/_photos.scss */
.media .col3 {
  width: 713px;
}

/* line 1, ../sass/_event_gallery.scss */
.event-header {
  position: relative;
}
/* line 3, ../sass/_event_gallery.scss */
.event-header .btn-download-album {
  position: absolute;
  top: 35px;
  right: 30px;
}

/* line 9, ../sass/_event_gallery.scss */
.media-event-gallery {
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../sass/_event_gallery.scss */
.media-event-gallery .item {
  width: 304px;
  float: left;
  margin: 15px 20px 0 0;
}
/* line 18, ../sass/_event_gallery.scss */
.media-event-gallery .item.last {
  margin-right: 0;
}
/* line 22, ../sass/_event_gallery.scss */
.media-event-gallery .item:last-child {
  margin-bottom: 15px;
}
/* line 26, ../sass/_event_gallery.scss */
.media-event-gallery .item a {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  height: 159px;
  border: solid 1px #274d73;
  position: relative;
}
/* line 34, ../sass/_event_gallery.scss */
.media-event-gallery .item a i {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
/* line 41, ../sass/_event_gallery.scss */
.media-event-gallery .item a:hover {
  border: solid 1px #2680a3;
}
/* line 44, ../sass/_event_gallery.scss */
.media-event-gallery .item a:hover i {
  background-position: 0 -221px;
}
