.modal-body #bitnoise-media-list .item img {
    cursor: pointer;
    margin: 5px;
}

#bitnoise-media-list .item img.selected {
    border: 5px solid #006dcc;
    margin: 0;
}

#bitnoise-media-list .item .btn {
    vertical-align: top;
}

.qq-upload-button {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#0044cc);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));
    background-image: -webkit-linear-gradient(top,#08c,#0044cc);
    border: none;
}

.btn-media-add-category {
    margin-top: 30px;
}

.btn-media-add-category .input-group-btn {
    margin-top: 10px;
    display: block;
}

.media-category-list {
    margin: 0;
    list-style: none;
}

.media-category-list li {
    margin-top: 10px;
}

.media-category-list li:first-child {
    margin-top: 0;
}

.modal-body .media-file-name {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    word-wrap: break-word;
    background: black;
    color: white;
    opacity: 0.8;
    font-size: 12px;
    padding: 5px;
}

.modal-body .media-file-name.pdf,
.modal-body .item:hover .media-file-name {
    display: block;
}
